@font-face {
    font-family: Dachi;
    src: url(../assets/fonts/Dachi\ the\ Lynx-46841546889.otf);
}
@font-face {
    font-family: MChNeobau;
    src: url(../assets/fonts/MChNeobau-Regular-3394124541.otf);
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: MChNeobau;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 50px;
}
h1{
    text-align: center;
    margin: 50px;
    font-family: Dachi;
}
h1 a{
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 0 2px #18046b;
    font-family: Dachi;
}
h2{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
}
.goback{
    text-align: center;
    margin-top: 20px;
}
.goback a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: underline;
}
.goback img{
    width: 30px;
    margin-right: 20px;
}
.container{
    width: 350px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}
.container.flex{
    flex-direction: column;
    align-items: center;
}
.item.flex{
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.item{
     width: 250px;
    height: 250px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    border: 5px solid #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}
.item span{
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
}

.item a{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.animalitem{
    background-image: url(../assets/img/animals.jpg);
}
.musicitem{
    background-image: url(../assets/img/music.jpg);
}
.dog{
    background-image: url(../assets/img/animals/dog.jpg);
}
.puppy{
    background-image: url(../assets/img/animals/pupp.jpg);
}
.lion{
    background-image: url(../assets/img/animals/lion.jpg);
}
.donkey{
    background-image: url(../assets/img/animals/donkey.jpg);
}
.cow{
    background-image: url(../assets/img/animals/cow.jpg);
}
.cat{
    background-image: url(../assets/img/animals/cat.jpg);
}
.angrycat{
    background-image: url(../assets/img/animals/angrycat.jpg);
}
.duck{
    background-image: url(../assets/img/animals/duck.jpg);
}
.frog{
    background-image: url(../assets/img/animals/frog.jpg);
}
.sheep{
    background-image: url(../assets/img/animals/sheep.jpg);
}
.cow{
    background-image: url(../assets/img/animals/cow.jpg);
}
.goat{
    background-image: url(../assets/img/animals/oat.jpg);
}
.rooster{
    background-image: url(../assets/img/animals/rooster.jpg);
}
.monkey{
    background-image: url(../assets/img/animals/monkey.jpg);
}
.bear{
    background-image: url(../assets/img/animals/bear.jpg);
}
.accordeon{
    background-image: url(../assets/img/music/accordeon.png);
}
.arfa{
    background-image: url(../assets/img/music/arfa.jpg);
}
.drum{
    background-image: url(../assets/img/music/drum.jpg);
}
.guitar{
    background-image: url(../assets/img/music/guitar.jpg);
}
.panduri{
    background-image: url(../assets/img/music/panduri.webp);
}
.piano{
    background-image: url(../assets/img/music/piano.jpg);
}
.qsiloponi{
    background-image: url(../assets/img/music/qsiloponi.jpg);
}
.violin{
    background-image: url(../assets/img/music/violin.jpg);
}
.maracas{
    background-image: url(../assets/img/music/maracas.avif);
}
.tamburine{
    background-image: url(../assets/img/music/tamburine.jpg);
}
.trumpet{
    background-image: url(../assets/img/music/trumpet.avif);
}
.flute{
    background-image: url(../assets/img/music/flute.jpg);
}
footer{
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
footer a{
    color: #ffffff;
    font-family: Dachi;
    text-decoration: underline;
}
